*.[oa]
*~
*.tst
*.swp
CuterTest/dcicppmin
CuterTest/latex*
Documentation/install.aux
Documentation/install.log
Documentation/install.tex.backup
TODO
CuterTest/Results/result.table
ELFUN.f
EXTER.f
GROUP.f
OUTSDIF.d
AUTOMAT.d
RANGE.f
lixo
CuterTest/Results
CuterTest
Src/temp.cpp
Tests/Matlab/
gmon.out
profiling
review
tags
