*.[oa]
*~
*.tst
CuterTest/*.d
CuterTest/*.f
CuterTest/dcicppmin
CuterTest/latex*
Documentation/install.aux
Documentation/install.log
Documentation/install.tex.backup
TODO
latex*
CuterTest/Results/result.table
