#Change these according to your installation
LIBS=$HOME/libraries
METIS=$LIBS/metis
BLAS=$LIBS/OpenBLAS
CHOLMOD=$LIBS/CHOLMOD
AMD=$LIBS/AMD
CAMD=$LIBS/CAMD
COLAMD=$LIBS/COLAMD
CCOLAMD=$LIBS/CCOLAMD
SUITESPARSE=$LIBS/SuiteSparse_config
BASEMATRICES=$LIBS/base_matrices
DCICPP=$LIBS/dcicpp

for lib in LIBPATH LIBRARY_PATH LD_LIBRARY_PATH
do
  export $lib="${!lib}:$METIS:$BLAS:$CHOLMOD/Lib:$AMD/Lib:$CAMD/Lib:$COLAMD/Lib"
  export $lib="${!lib}:$CCOLAMD/Lib:$SUITESPARSE:$BASEMATRICES/Lib:$DCICPP/Lib"
done

for inc in {,C_,CPLUS_}INCLUDE_PATH
do
  export $inc=${!inc}:$METIS/Lib:$CHOLMOD/Include:$SUITESPARSE:$BASEMATRICES/Include
  export $inc=${!inc}:$DCICPP/Include
done

export ARCHDEFS="$LIBS/archdefs"
export SIFDECODE="$LIBS/sifdecode"
export CUTEST="$LIBS/cutest"
export PATH="$CUTEST/bin:$SIFDECODE/bin:$PATH"
export MANPATH="$CUTEST/man:$SIFDECODE/man:$MANPATH"
export MYARCH="pc.lnx.gfo"
export MASTSIF="$LIBS/sif"
